i[class^="icon-"] {
    vertical-align: 0px;
}

@iconSpritePath:          "/images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/glyphicons-halflings-white.png";

@FontAwesomePath:    "/vendor/font-awesome/font";